*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(59, 52, 52);
}

.calculator{
    background-color: antiquewhite;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 150px repeat(5,100px);
    justify-content: center;
    align-content: center;

}

.display{
    background-color: black;
    color: white;
    font-size: 2.5rem;
    grid-column: span 4;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: end;
}

.previousNumber, .currentNumber{
    height: 50%;    
}

.span-two{
    grid-column: span 2;
}